body{
    box-sizing: border-box;
    background-color: #f4f5f7;
    color: #000;
    /* padding: 10px; */
}

.Header{
    display: inline-flex;
    color: hsl(0, 0%, 0%);
    padding: 5px;
    padding-left: 12px;
    width: 100%;
}
.Header button{
    background: white;
    border-radius: 60%;
    border: none;
    font-size: 12px;
    padding: 10px;
}
.Head-btn{
 margin-left: auto;
}
.Header a{
    text-decoration: none;
    color: #000;
}
#upgrade{
    border-radius: 5px;
    border: none;
    background-color: black;
    width:150px;
    height:40px;
    margin-right: 20px;
}
#upgrade a{
    color:#fff
}
.Header h3{
    font-weight: 500;
    margin-left: 6%;
}
.Header h4{
    position: relative;
    top: 5px;
    font-weight: 700;

}
section{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
nav{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width:15%;
    height: 90vh;
    flex-direction: column;
}

.nav-list{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
nav li{
   list-style: none;
}
.nav-list button{
    background-color: #f4f5f7 ;
    border: none;
    font-size: 12px;
    padding: 12px;
    color: #acacb2;
    text-align: left;
    cursor: pointer;
}
#navHome{
    border-left: 5px solid #000;
}
.nav-list a{
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

.nav-list button:active{
    border-left: solid 2px #000;
    color: #000;
}
.nav-list button:hover{
    background-color: #fff;
    color: #000;
}
.profile{
    
    margin-top: auto;
    text-align: center;
}
.profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.profile p{
    font-weight: 300;
    font-size: 12px;
    margin-top: -5px;
}
.profile h6{
    margin-top: 5px;
    font-weight: 500;
    font-size: 14px;
}
.content{
    width: 85%;
}

.top a{
    text-decoration:none;
    color: #000;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
}
.top a:hover{
    color: #000;
    border-color: #000;
}
.top ul{
    display: inline-flex;
    list-style: none;
    margin-left: -30px;
    text-align: center;
}
#Work{
    margin-right: 20px;
    margin-left: 20px;
}

#employee{
    margin-right: 20px;
    margin-left: 20px;
}
#Tasks{
    margin-right: 20px;
    margin-left: 20px;
}
.firstCards{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}
.firstCard1{
    background-color: #d2e2df;
    width: 362px; 
    height: 80px;
    color: #000;
    padding: 10px; 
    border-radius: 5px;
    margin-right: 10px;
}
.firstCard1 h5{
    font-weight: 300;
    font-size: 12px;
}
.firstCard1 h3{
    margin-top: 15px;
}
.firstCard2{
    background-color: #d6f23a;
    width: 362px; 
    height: 80px;
    color: #000;
    padding: 10px; 
    border-radius: 5px;
    margin-right: 10px;
}
.firstCard2 h5{
    font-weight: 300;
    font-size: 12px;
}
.firstCard2 h3{
    margin-top: 15px;
}
.firstCard3{
    background-color: #B9Afee;
    width: 362px; 
    height: 80px;
    color: #000;
    padding: 10px; 
    border-radius: 5px;
    margin-right: 10px;  
    display: flex;
}
.firstCard3 h5{
    font-weight: 300;
    font-size: 12px;
}
.firstCard3 h3{
    margin-top: 15px;
}
.cardthreebtn{
    margin-left: auto;
    
}
#btn1{
    background-color: #fff;
    border: none;
    color: #000;
    font-size: 12px;
    padding: 5px;
    border-radius: 200px;
    cursor: pointer;
}
#btn1:hover{
    background-color: #d5ef47;
}
.firstCharts{
    display:flex;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}       
.firstChart1 {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    height: 300px;
}
.firstChart2{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 48%;
    height: 300px;
}
.firstChart2 p{
    font-size: 13px;
    font-weight: 400;
}
.proGress{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
}
.fifty{
    flex-basis: 50%;
    border-left: 2px solid gray;
    height: 50px;
    padding-left: 5px;
    font-weight: 500;
}
.thrity{
    flex-basis: 30%;
    border-left: 2px solid gray;
    height: 50px;
    padding-left: 5px;
    font-weight: 500;
}
.twenty{
    flex-basis: 20%;
    border-left: 2px solid gray;
    height: 50px;
    padding-left: 5px;
    font-weight: 500;
}
.progress-bar{
    width:100%;
    height: 15px;
    padding: 2px;
    padding-top: 4px;
    background-color: rgba(95, 94, 95, 0.122);
    border-radius: 4px;
    margin-top: 5px;
    display:   flex;
    flex-direction: row;
}
.fiveZero{
    flex-basis: 49%;
    background-color: purple;
    opacity: 0.5;
    height: 80%;
    border-radius: 4px;

}
.threeZero{
    flex-basis: 29%;
    background-color: blue;
    opacity: 0.5;
    height: 80%;
    border-radius: 4px;
    margin-left: 1px;
    margin-right: 1px;
}
.twoZero{
    flex-basis: 19%;

    background-color: black;
    height: 80%;
    border-radius: 4px;
}
.secondCharts{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
    margin-bottom: 100px;
}
#btn2{
    background-color: #d5ef47;
    border: none;
    color: #000;
    font-size: 12px;
    padding: 5px;
    border-radius: 200px;
    cursor: pointer;
    font-weight: 500;
}
.secondChart1{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    height: 300px;
}
.secondChart2{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 48%;
    height: 300px;
}
footer{
    height: 300px;
    background: #CEC9C9;
}
.top-box{
    background: #000;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 35%;
    position: relative;
    bottom: 20%;
    box-shadow: -10px 10px 4px rgb(0,0,0,0.6);
    display: flex;
    flex-direction: row;
    gap: 30px;
    border-radius: 5px;
}
.top-box-content{
    text-align: left;
    color:#fff;
    padding-left: 20px;
    padding-top: 10px;
}
.top-box-btn a{
    color: #000;

}
.top-box-btn button{
    background: #fff;
    width: 150px;
    height: 38px;
    margin-top: 22.5%;
    margin-bottom: auto;
    margin-left: 50%;
    border: 0;
    border-radius: 5px;
    transition: all 0.2s;
}
.top-box-btn button:hover{
    background-color: #FAC9C9;
    height: 43px;
}
.bottom-box{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: 15%;
}
.bottom-box-company{
   padding-left: 8%;
}
.bottom-box-company ul{
    list-style: none;
}
.bottom-box-company a{
    text-decoration: none;
    color: #000;
} 
.bottom-box-company a:hover{
    font-style: italic;
    cursor: pointer;
}
.bottom-box-company li{
    margin-bottom: 5px;
}
.bottom-box-info{
    padding-left: 10%;
}
.bottom-box-info ul{
    list-style: none;
}
.bottom-box-info li{
    margin-bottom: 5px;
}
.bottom-box-info a{
    text-decoration: none;
    color: #000;
}
.bottom-box-info a:hover{
    font-style: italic;
    cursor: pointer;
}
.bottom-box-links{
    padding-left: 10%;
}
.bottom-box-links h4{
    padding-left: 2.5px;
}
.bottom-box-links i{
    padding-top: 20px;
    font-size: 25px;
    padding-right: 5px;
    cursor: pointer;
}
@media (max-width: 430px){
    
    .Header h3{
        font-size: 13px;
        margin-top: 8px;
    }
    #upgrade{
        width: 100px;
        height: 30px;
        font-size: 8px;

    }
    .Head-btn button{
        padding: 5px;
        font-size: 10px;
    }
    .Header h4{
        font-size: 14px;
    }
    .nav-list button{
        padding: 6px;
    }
    .nav-list a{
        font-size: 12px;
    }
    .profile img{
        width: 20px;
        height: 20px;
    }
    
    .profile p{
        font-size: 9px;
    }
    .profile h6{
        font-size: 10px;
    }
    .top a{
        font-size: 13px;
    }
    #employee{
        margin-right: 10px;
        margin-left: 10px;
    }
    #Tasks{
        margin-right: 10px;
        margin-left: 10px;
    }
    #Work{
        margin-right: 10px;
        margin-left: 10px;
    }
    .firstCards{
        flex-direction: column;
        width: 100%;
        margin-top: -10px;
    }
    .firstCard1{
        width: 90%;
        height: 80px;
        margin-right: 0px;
        margin-bottom: 5px;
    }
    .firstCard1 h3{
        font-size: 15px;
    }
    .firstCard2{
        width: 90%;
        height: 80px;
        margin-right: 0px;
        margin-bottom: 5px;
    }
    .firstCard2 h3{
        font-size: 15px;
    }
    .firstCard3{
        width: 90%;
        height: 80px;
        margin-right: 0px;
        margin-bottom: 5px;
    }
    .firstCard3 h3{
        font-size: 15px;
    }
    #btn1{
        font-size: 10px;
        padding: 3px;
    }
    .firstCharts{
        flex-direction: column;
        width: 90%;
        margin-top: 10px;
    }
    .firstChart1{
        width: 100%;
        height: 150px;
    }
    #chart1{
        width: 100%;
        height: 100px;
    }
    .firstChart2{
        width: 100%;
        height: 170px;
    }
    .proGress{
        margin-top: 0;
    }
    .fifty{
        height: 25px;
    }
    .thrity{
        height: 25px;
    }
    .twenty{
        height: 25px;
    }
    .secondCharts{
        flex-direction: column;
        width: 90%;
        margin-top: 10px;
    }
    .secondChart1{
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
    }
    #chart2{
        width: 100%;
        height: 100px;
    }
    .secondChart2{
        width: 100%;
        height: 150px;
        margin-bottom: 40px;
    }
    #chart3{
        width: 100%;
        height: 100px;

    }
}